<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="sales_order_place_after">
    <observer name="Kitchen365_twilio_sales_order_place_after" instance="Kitchen365\Twilio\Observer\Sales\OrderAfter" />
  </event>
  <event name="sales_order_invoice_register">
    <observer name="Kitchen365_twilio_sales_order_invoice_register" instance="Kitchen365\Twilio\Observer\Sales\Order\Invoice\Register" />
  </event>
  <event name="sales_order_shipment_save_after">
    <observer name="Kitchen365_twilio_sales_order_shipment_save_after" instance="Kitchen365\Twilio\Observer\Sales\Order\Shipment\SaveAfter" />
  </event>
</config>